{% extends "base.html" %} {% load static %} {% block main_block %}
<div class="site-section">
    <div class="container">
      <h3>{{city_name}} stories</h3>
      <a href="/stories/new/city_id={{city_id}}/">Share a Story</a>
    </div>

      
    <div class="site-section">
      <div class="container">
        {% include "travelPyUserStory/stories_silder.html" %}

        </div>
        <div class="row">
          <div class="col-12 text-center">
            <a href="#" class="btn btn-outline-primary border-2 py-3 px-5">Load More Posts...</a>
          </div>
        </div>
      </div>
</div>
{% endblock %}
   