{% extends "base.html" %} {% load static %} {% block main_block %}
<div class="site-section">
    <div class="container">
      <h3>{City} stories</h3>
    </div>
  </div>

     
      

      
    <div class="site-section">
      <div class="container">
        {% include "stories_slider.html" %}

        </div>
        <div class="row">
          <div class="col-12 text-center">
            <a href="#" class="btn btn-outline-primary border-2 py-3 px-5">Load More Posts...</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
   