{% extends "base.html" %} {% load static %} {% block main_block %}
<div class="col-md-6 col-lg-6 mb-4 mb-lg-4">
    <div class="h-entry">
      <img src="{% static "images/hero_bg_1.jpg" %}" alt="Image" class="img-fluid">
      <h2 class="font-size-regular"><a href="#">How to Plan Your Vacation</a></h2>
      <div class="meta mb-4">by Theresa Winston <span class="mx-2">&bullet;</span> Jan 18, 2019 at 2:00 pm <span class="mx-2">&bullet;</span> <a href="#">News</a></div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
    </div> 
  </div>
  {% endblock %}