{% extends "base.html" %} {% load static %} {% block main_block %}
<div class="container">
  <div class="row">
    <div class="col-4  mb-4 mb-lg-4">
        <div class="h-entry">
          <img src="{% static "images/hero_bg_1.jpg" %}" alt="Image" class="img-fluid">
        </div>
    </div>

    <div class="col-8">
        <h2 class="font-size-regular"><a href="#">{{ story.story_title }}</a> </h2>
        by <span style = "color: blueviolet"> {{story.user}}</span>
        {% if is_author %}
          <span> <a href="/stories/edit/{{ story.id }}">Edit</a>
        {% endif %}

        <p>{{ story.story_body|linebreaks }}</p>
    </div> 
  </div>

  <div class="row">
    <h5 >Discussion</h5>
  </div>



  <div class="container">
  {% for comment in comments%}
    <div class="row comment-wrapper">
      <div class="">
        <h6 class="col-2 comment-author">{{comment.user}}</h6><!-- <div class="col-2">Username</div> -->
        <p class="col-8 comment-box"> {{comment.comment_body|linebreaks}}</p><!-- <div class="col-2">Username</div> -->
      </div>
    </div>
  {% endfor%}
</div>


  <div class="row">
    <form method="POST"> {% csrf_token %}
    <div class="comment-form form-group">
      <h6 class="col-2 comment-author">{{username}}</h6>
        {{ form.comment_body }}
        </div>

      <div class=" form-group align-self-center col-2">
              <input type="submit" value="Add" class="btn btn-primary py-2 px-4 text-white">
      </div>
      </form>
    </div>

</div>
{% endblock %}