{% extends "base.html" %} {% load static %} {% block main_block %}
<div class="site-blocks-cover inner-page-cover" style="background-image: url('../../static/images/car-rent-1.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
      <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
        <div class="search car-overlay">  
          <div class="container fill_height">
            <div class="row fill_height ">
                <div class="search_panel search_style">
                  <form method="POST" id="search_form_2" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start form-container-align">
                    {% csrf_token %}
                    <div class="search_item">
                      <div class="label-location">Pickup</div>
                        <select name="pickup_location" id="pickup_location_select">
                          {%if pois%}
                              {% for poi in pois %}
                                  <option name="pickup_location" id="pickup_location">{{poi.name}}</option>
                              {% endfor %}
                          {% endif %}
                        </select>
                      <!-- <input type="text" class="destination search_input input-location" required="required"> -->
                    </div>
                    <div class="search_item">
                      <div class="label-from">From</div>
                      {{form.from_date}}
                      <!-- <input type="date" class="check_in search_input input-from"> -->
                    </div>
                    <div class="search_item  input-to">
                      <div class="label-to">To</div>
                        {{form.to_date}}
                      <!-- <input type="date" class="check_out search_input"> -->
                    </div>
                    <input type="submit" class="btn btn-primary search-button" value="Rent">
                  </form>
                </div>
            </div>
          </div>      
      </div>
    </div>
</div>
{% endblock %}